<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Casting Agency</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container">
      <div class="jumbotron mt-5">
        <h1 class="display-4">Casting Agency</h1>
        <hr class="my-4" />
        <p class="lead">Your auth token</p>
        <textarea class="form-control" id="token" rows="10"></textarea>
        <a href="https://jwt.io" class="btn btn-info mt-4">jwt.io</a>
      </div>
    </div>
    <script>
      let token = window.location.href.split("access_token=")[1].split("&")[0];
      document.getElementById("token").value = token;
    </script>
  </body>
</html>
